<h1>Dirección de Desarrollo e Infraestructura Tecnológica</h1>



<div class="container">

  <div class="formee-msg-info">
    <h3>Gracias por su colaboración</h3>
    <ul>
      <li>Su opinión es muy importante para nosotros.</li>
    </ul>
  </div>



  <% form_for :calificacion, @calificacion, :url => { :action => "show"}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>Satisfacción del servicio</legend>
    <div class="grid-1-12 clear"></div>
     <!-- director -->
    <div class="grid-6-12">
      <label>Número de servicio: <em class="formee-req">*</em></label>
      <%=f.text_field  :issue_id%>
    </div>
    
    <!-- submit -->
    <div class="grid-6-12">
      <input class="right" type="submit" title="BUSCAR SERVICIO" value="BUSCAR SERVICIO" />
    </div>
  </fieldset>
 <%end%>
</div>